<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>

<html lang="en">
  <head><meta charset="UTF-8"/><title>IMG Search Abstraction Layer</title><!--Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content="Img Search"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  </head>
</html>
<body>
  <div class="container-fluid">
    
    <h1 class="header">FreeCodeCamp API Project: IMG Search Abstraction Layer</h1>
    
    <h3>Usage:</h3>
    <a style="font-size:16px" target="_blank" href="https://images-earch.glitch.me/api/imageSearch/keyword?offset=5">https://images-earch.glitch.me/api/imageSearch/keyword?offset=5</a>
    <h3>Output</h3>
    <h4>It will return the '5' results of 'keyword' by google search engine</h4>
    
    <h3>Usage:</h3>
    <a style="font-size:16px" target="_blank" href="https://images-earch.glitch.me/api/lateset/imageSearch">https://images-earch.glitch.me/api/lateset/imageSearch</a>
    <h4>Will show the recent search queries</h4>
  </div>
</body>